<section class="weather-widget">
  <header *ngIf="!isLoading">
    <span>WEATHER WIDGET</span>
    <button *ngIf="!hideMenu" mat-icon-button [matMenuTriggerFor]="weatherMenu" aria-label="Widget options">
      <mat-icon class="article-icon">more_horiz</mat-icon>
    </button>
    <mat-menu #weatherMenu="matMenu">
      <a (click)="openModal()" mat-menu-item>
        <span>Add</span>
      </a>
      <button *ngIf="!baseWeather" (click)="deleteWidget()" mat-menu-item>
        <span>Delete</span>
      </button>
    </mat-menu>
  </header>
  <main *ngIf="!isLoading">
    <p class="date">{{monthNames[currentDay.getMonth()]}} {{currentDay.getDate()}}</p>
    <span>{{dayNames[currentDay.getDay()]}}</span>
    <section class="temperature-info" *ngIf="temp">
      <div>
        <p class="temperature">{{temp}}</p>
        <p class="location">{{city}}, {{country}}</p>
      </div>
      <img src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png" alt="Weather Icon" />
    </section>
  </main>
  <app-loader class="loader" *ngIf="isLoading"></app-loader>
</section>
