<section class="weather-widget" *ngIf="!isLoading">
  <header>
    <span>WEATHER WIDGET</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </header>
  <main>
    <p class="date">{{monthNames[currentDay.getMonth()]}} {{currentDay.getDate()}}</p>
    <span>{{dayNames[currentDay.getDay()]}}</span>
    <section class="temperature-info">
      <div>
        <p class="temperature">{{temp}}</p>
        <p class="location">{{city}}, {{country}}</p>
      </div>
      <img src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png" alt="Weather Icon" />
    </section>
  </main>
</section>

<span *ngIf="isLoading">Loading...</span>
