.container {
  display: flex;
  background-color: red;
}

.side-image {
  width: 40%;
  height: 100vh;

  img {
    height: 100%;
    width: 100%;
  }
}

.component-container {
  width: 32%;
  height: 100vh;
  margin: 0 auto;
}
