<section class="articles">
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style="color: white">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card class="article">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <section class="category-and-data">
        <span class="category">PRODUCTIVITY</span>
        <span class="category">3 days ago</span>
      </section>
      <p class="title">7 Skills of Highly Effective Programmers</p>
      <span class="content">Our team was inspired by the seven skills of highly effective programmers created by
        the TechLead. We wanted to provide our own take on the topic...</span>
      <section class="additional-info">
        <div class="photo">

        </div>
        <span>Glen Williams</span>
        <a>Read more</a>
      </section>
    </mat-card-content>
  </mat-card>
</section>
