<section *ngIf="articles && !isLoading" class="articles">
  <mat-card class="article" *ngFor="let article of articles">
    <img mat-card-image [src]="article.photo" alt="Article photo">
    <mat-card-content>
      <button *ngIf="user.uid === article.authorUID" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style="color: white">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/portal/article" [queryParams]="{docID: article.docID}" mat-menu-item>
          <span>Edit</span>
        </a>
        <button (click)="deleteArticle(article.docID!)" mat-menu-item>
          <span>Delete</span>
        </button>
      </mat-menu>
      <section class="category-and-data">
        <span>{{article.category}}</span>
        <span>{{article.date}}</span>
      </section>

      <section class="main-info">
        <p class="title">{{article.title}}</p>
        <span class="content">{{article.text}}</span>
      </section>

      <section class="additional-info">
        <div class="photo">
        </div>
        <span>{{article.authorName}}</span>
        <a>Read more <mat-icon>arrow_forward</mat-icon></a>
      </section>
    </mat-card-content>
  </mat-card>
</section>

<app-loader *ngIf="isLoading"></app-loader>

<app-pagination *ngIf="!isLoading"></app-pagination>
