<section class="filters">
  <h2>Articles Dashboard</h2>
  <section class="categories-select">
    <span>Show:</span>
    <mat-select [(value)]="category" (selectionChange)="changeCategory($event.value)">
      <div class="option-container" *ngFor="let categoryOption of categories">
        <mat-option [value]="categoryOption">{{categoryOption}}</mat-option>
        <mat-icon *ngIf="categoryOption === category">check</mat-icon>
      </div>
    </mat-select>
  </section>
  <section class="order-select">
    <mat-form-field appearance="fill">
      <span matPrefix>Sort by:</span>
      <mat-select [(value)]="order" (selectionChange)="changeOrder($event.value)">
        <div class="option-container" *ngFor="let orderOption of orders">
          <mat-option [value]="orderOption.value">{{orderOption.viewValue}}</mat-option>
          <mat-icon *ngIf="orderOption.value === order">check</mat-icon>
        </div>
      </mat-select>
    </mat-form-field>
  </section>
</section>
