<section class="profile-password">
  <h3>Change your password</h3>
  <form class="profile-password-form">
    <div class="old-password-input">
      <label for="old-password">Old Password</label>
      <mat-form-field appearance="fill">
        <input id="old-password" matInput placeholder="Enter your current password">
      </mat-form-field>
    </div>

    <div class="new-password-input">
      <label for="new-password">New Password</label>
      <mat-form-field appearance="fill">
        <input id="new-password" matInput placeholder="Enter your new password">
      </mat-form-field>
    </div>

    <div class="confirm-password-input">
      <label for="confirm-password">Confirm New Password</label>
      <mat-form-field appearance="fill">
        <input id="confirm-password" matInput placeholder="Enter your new password again">
      </mat-form-field>
    </div>
  </form>

  <section class="form-actions">
    <button class="btn-regular btn-small" mat-button>Cancel</button>
    <button class="btn-primary btn-small" mat-button>Save</button>
  </section>
</section>

