<section class="profile-password">
  <h3>Change your password</h3>
  <form class="profile-password-form" [formGroup]="form" (ngSubmit)="updatePassword()">
    <div class="old-password-input">
      <label for="old-password">Old Password</label>
      <mat-form-field appearance="fill">
        <input #oldPassword id="old-password" type="password" matInput placeholder="Enter your current password" formControlName="oldPassword">
        <mat-error *ngIf="form.get('oldPassword')!.invalid && form.get('oldPassword')!.touched">
          <span *ngIf="form.get('oldPassword')!.errors!['required']">Enter your old password</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="new-password-input">
      <label for="new-password">New Password</label>
      <mat-form-field appearance="fill">
        <input id="new-password" type="password" matInput placeholder="Enter your new password" formControlName="password">
        <mat-error *ngIf="form.get('password')!.invalid && form.get('password')!.touched">
          <span *ngIf="form.get('password')!.errors!['required']">Enter your new password</span>
          <span *ngIf="form.get('password')!.errors!['minlength']">Password must be at least {{form.get('password')!.errors!['minlength'].requiredLength}} characters long</span>
          <span *ngIf="form.get('password')!.errors!['passswordMatch']">Password is the same as the old</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="confirm-password-input">
      <label for="confirm-password">Confirm New Password</label>
      <mat-form-field appearance="fill">
        <input id="confirm-password" type="password" matInput placeholder="Enter your new password again" formControlName="confirmPassword">
        <mat-error *ngIf="form.get('confirmPassword')!.invalid && form.get('confirmPassword')!.touched">
          <span *ngIf="form.get('confirmPassword')!.errors!['required']">Enter your new password again</span>
          <span *ngIf="form.get('confirmPassword')!.errors!['noPassswordMatch']">Passwords do not match</span>
        </mat-error>
      </mat-form-field>
    </div>

    <section class="form-actions">
      <a class="btn-regular btn-small" mat-button routerLink="portal/dashboard">Cancel</a>
      <button class="btn-primary btn-small" mat-button type="submit" [disabled]="form.invalid">Save</button>
    </section>
  </form>

</section>

