<section class="profile-info">
  <h3>Change your information</h3>
  <form class="profile-info-form">
    <div class="first-name-input">
      <label for="first-name">First Name</label>
      <mat-form-field appearance="fill">
        <input id="first-name" matInput placeholder="Enter your first name">
      </mat-form-field>
    </div>

    <div class="last-name-input">
      <label for="last-name">Last Name</label>
      <mat-form-field appearance="fill">
        <input id="last-name" matInput placeholder="Enter your last name">
      </mat-form-field>
    </div>

    <div class="age-input">
      <label for="age">Age</label>
      <mat-form-field appearance="fill">
        <input id="age" matInput placeholder="Enter your age">
      </mat-form-field>
    </div>
  </form>

  <section class="form-actions">
    <button class="btn-regular btn-small" mat-button>Cancel</button>
    <button class="btn-primary btn-small" mat-button>Save</button>
  </section>
</section>
