<section class="profile-info">
  <h3>Change your information</h3>
  <form class="profile-info-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="first-name-input">
      <label for="first-name">First Name</label>
      <mat-form-field appearance="fill">
        <input id="first-name" matInput placeholder="Enter your first name" formControlName="name">
        <mat-error *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
          <span *ngIf="form.get('name')!.errors!['name']">Enter first name</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="last-name-input">
      <label for="last-name">Last Name</label>
      <mat-form-field appearance="fill">
        <input id="last-name" matInput placeholder="Enter your last name" formControlName="lastName">
      </mat-form-field>
    </div>

    <div class="age-input">
      <label for="age">Age</label>
      <mat-form-field appearance="fill">
        <input id="age" matInput placeholder="Enter your age" formControlName="age">
      </mat-form-field>
    </div>

    <section class="form-actions">
      <a class="btn-regular btn-small" mat-button routerLink="/portal/dashboard">Cancel</a>
      <button class="btn-primary btn-small" mat-button [disabled]="form.invalid" type="submit">Save</button>
    </section>
  </form>
</section>
