<section class="login-container">
  <section class="greeting">
    <img src="../../../../assets/img/icons/waving-hand.svg" alt="Waving Hand">
    <h2>Welcome back</h2>
    <p>Sign in to manage your account.</p>
  </section>

  <form class="login-form" [formGroup]="form" (ngSubmit)="loginByEmail()">
    <label for="email">Email Address</label>
    <mat-form-field appearance="fill">
      <input id="email" matInput placeholder="Enter your email address" formControlName="email">
      <mat-error *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        <span *ngIf="form.get('email')!.errors!['required']">Enter email</span>
        <span *ngIf="form.get('email')!.errors!['email']">Enter valid email</span>
      </mat-error>
    </mat-form-field>

    <label for="password">Password</label>
    <mat-form-field appearance="fill">
      <input id="password" type="password" matInput placeholder="Enter your password" formControlName="password">
      <mat-error *ngIf="form.get('password')!.invalid && form.get('password')!.touched">
        <span *ngIf="form.get('password')!.errors!['required']">Enter password</span>
        <span *ngIf="form.get('password')!.errors!['minlength']">Password must be at least {{form.get('password')!.errors!['minlength'].requiredLength}} characters long</span>
      </mat-error>
    </mat-form-field>

    <a routerLink="/forgot-password">Forgot your password?</a>

    <button class="btn btn-primary" [disabled]="form.invalid" mat-button type="submit">Sign in</button>
  </form>

  <div class="hr-with-text">
    <div class="line"></div>
    <div class="text">Or do it via other accounts</div>
    <div class="line"></div>
  </div>

  <section class="auth-alternative">
    <button mat-button (click)="loginByGoogle()">
      <img src="assets/img/logos/google.svg" alt="Google">
    </button>
    <button mat-button (click)="loginByFacebook()">
      <img src="assets/img/logos/facebook.svg" alt="Facebook">
    </button>
  </section>

  <span class="sign-up-message">Don’t have an account? <a routerLink="/register">Sign Up</a></span>
</section>
