<section class="forgot-password-container">
  <section class="greeting">
    <h2>Password recovery</h2>
    <p>Enter the email you're using for your account.</p>
  </section>

  <form class="forgot-form">
    <label for="email">Email Address</label>
    <mat-form-field appearance="fill">
      <input id="email" matInput placeholder="Enter your email address">
    </mat-form-field>
  </form>

  <button class="btn-primary" mat-button>Reset</button>

  <a routerLink="/login">Back To Login</a>
</section>

