<section class="forgot-password-container">
  <section class="greeting">
    <h2>Password recovery</h2>
    <p>Enter the email you're using for your account.</p>
  </section>

  <form class="forgot-form" [formGroup]="form" (ngSubmit)="sendResetPasswordRequest()">
    <label for="email">Email Address</label>
    <mat-form-field appearance="fill">
      <input id="email" matInput placeholder="Enter your email address" formControlName="email">
      <mat-error *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        <span *ngIf="form.get('email')!.errors!['required']">Enter email</span>
        <span *ngIf="form.get('email')!.errors!['emailInvalid']">Enter valid email</span>
      </mat-error>
    </mat-form-field>

    <button class="btn btn-primary" [disabled]="form.invalid" mat-button type="submit">Reset</button>
  </form>

  <a routerLink="/login">Back To Login</a>
</section>

