.add-edit {
  width: 44%;
  margin: 50px auto 30px;
  background-color: var(--white-color);
  box-shadow: 0 24px 64px 0 rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  padding: 30px 35px;
  position: relative;

  h2 {
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  .line {
    height: .1px;
    width: 100%;
    border-top: 1px solid #EAEDF3;
    margin-bottom: 25px;
  }

  form {

    label {
      font-size: 14px;
    }

    ::ng-deep label[for="category"] + mat-form-field .mat-form-field-flex:hover {
      background-color: var(--white-color) !important;
      color: var(--primary-color) !important;

      .mat-select-arrow  {
        border-color: var(--primary-color) !important;
      }
    }

    ::ng-deep .mat-select[aria-expanded='true'] .mat-select-arrow {
      transform: translate(-9px, 10px) rotate(-45deg) !important;
      border-color: var(--primary-color) !important;
    }

    ::ng-deep .mat-select-arrow  {
      display: inline-block !important;
      margin-top: 0 !important;
      width: 9px !important;
      height: 9px !important;
      border-left: 0 !important;
      border-top: 1.5px solid #8E94A7 !important;
      border-right: 1.5px solid #8E94A7 !important;
      transform: rotate(135deg) translate(10px, 3px) !important;
    }

    ::ng-deep .mat-input-element {
      font-size: 14px;
      transform: translateY(-2px);

      &::placeholder {
        font-size: 14px;
      }
    }

    textarea {
      min-height: 240px;
    }
  }

  .add-photo {
    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    p {
      font-size: 13px;
    }
  }

  .loader-background {
    background-color: transparent;
  }
}

::ng-deep .mat-option:not(.mat-selected):hover {
  background: rgba(46, 91, 255, .04) !important;
  color: var(--status-color) !important;
}

::ng-deep .mat-option.mat-selected {
  background: var(--status-color) !important;
  color: var(--white-color) !important;
}

::ng-deep .mat-option.mat-active {
  background-color: transparent;
}

.option-container {
  position: relative;

  ::ng-deep .mat-icon {
    position: absolute !important;
    top: 10px;
    right: 20px;
    color: var(--white-color) !important;
  }
}

::ng-deep .mat-select-panel-wrap {
  transform: translateY(40px) !important;
}
