<section class="add-edit">
  <h2><span>{{docID ? 'Edit' : 'Add new'}}</span> article</h2>

  <div class="line"></div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label for="title">Title</label>
    <mat-form-field class="title" appearance="fill">
      <input id="title" matInput placeholder="Enter your title" formControlName="title">
      <mat-error *ngIf="form.get('title')!.invalid && form.get('title')!.touched">
        <span *ngIf="form.get('title')!.errors!['required']">Enter title</span>
      </mat-error>
    </mat-form-field>

    <label for="category">Category</label>
    <mat-form-field appearance="fill">
      <mat-select id="category" placeholder="Choose category" formControlName="category">
        <mat-option value="PRODUCTIVITY">PRODUCTIVITY</mat-option>
        <mat-option value="MEDIA">MEDIA</mat-option>
        <mat-option value="BUSINESS">BUSINESS</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category')!.invalid && form.get('category')!.touched">
        <span *ngIf="form.get('category')!.errors!['required']">Enter category</span>
      </mat-error>
    </mat-form-field>

    <label for="text">Text</label>
    <mat-form-field appearance="fill">
      <textarea id="text" matInput placeholder="Enter your text copy" formControlName="text"></textarea>
      <mat-error *ngIf="form.get('text')!.invalid && form.get('text')!.touched">
        <span *ngIf="form.get('text')!.errors!['required']">Enter text</span>
      </mat-error>
    </mat-form-field>

    <section class="add-photo">
      <h3><span>{{docID ? 'Edit' : 'Add'}}</span> cover photo</h3>
      <p>Drag and drop file below</p>

      <app-photo-dnd [url]="form.get('photo')!.value" [containerHeight]="'180px'" (updateFile)="updateFile($event)"></app-photo-dnd>
      <mat-error *ngIf="form.get('photo')!.invalid && form.get('photo')!.touched">
        <span *ngIf="form.get('photo')!.errors!['required']">Add photo</span>
      </mat-error>
    </section>

    <section class="form-actions">
      <a routerLink="/portal/dashboard" class="btn-regular btn-small" mat-button>Cancel</a>
      <button class="btn-primary btn-small" mat-button type="submit" [disabled]="form.invalid">Publish</button>
    </section>
  </form>
</section>
