header {
  height: 154px;
  background-color: var(--header-color);

  .header-container {
    width: 74%;
    margin: 0 auto;

    img {
      margin-left: -20px;
    }

    .title {
      display: flex;
      align-items: center;
      padding-bottom: 25px;
      margin-top: 15px;

      a {
        color: var(--white-color);
        transform: translate(-7px, 3px);
      }

      h2 {
        font-size: 28px;
        color: var(--white-color);
        margin: 0 0 0 8px;
      }
    }
  }
}

.container {
  width: 74%;
  margin: 0 auto;

  h2 {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
  }

  p {
    font-size: 21px;
    font-weight: 700;
    margin: 22px 0;
  }

  h2, p {
    color: var(--black-color);
  }

  span {
    color: #374A59;
  }

  a {
    margin-top: 20px;
  }
}
