html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #4C6FFF;
  --black-color: #1A1E2C;
  --white-color: #FFFFFF;
  --input-color: #F5F6F7;
  --status-color: #2E5BFF;
  --header-color: #040D32;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}

mat-form-field {
  width: 100% !important;
}

label {
  display: inline-block;
  color: #6F7C8B;
  font-size: 16px;
  margin-bottom: 10px;
}

.mat-form-field-flex {
  padding: 4px !important;
  padding-left: 30px !important;
  background-color: #F5F6F7 !important;
  font-size: 16px !important;
  border-radius: 3px !important;
  border: 1px solid transparent;

  .mat-form-field-infix {
    padding-top: 0 !important;
  }

  &:hover {
    border: 1px solid var(--primary-color) !important;
  }
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

.mat-form-field-underline {
  display: none;
}

.mat-input-element::placeholder {
  font-size: 16px;
  color: #6F7C8B !important;
}

.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

.mat-menu-panel {
  min-height: 0 !important;
}

.btn {
  height: 55px;
  cursor: pointer;
  border-radius: 3px !important;

  &-small {
    width: 108px;
    height: 38px;
  }

  &-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  &-regular {
    color: #6F7C8B;
    background-color: var(--white-color);
    border: 1px solid rgba(111, 124, 139, 0.5) !important;
  }
}

.hr-with-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 30px 0;

  .line {
    height: .1px;
    width: 100%;
    border-top: 1px solid #9D9D9D;
  }

  .text {
    margin: 0 15px;
    color: #6F7C8B;
    font-size: 12px;
  }
}

.form-actions {
  margin-top: 22px;

  .btn-regular {
    margin-right: 17px;
  }
}

.user {
  .user-photo {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  &:hover {
    cursor: pointer;

    & .user-photo:after {
      content: '';
      display: block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid rgba(46, 91, 255, 0.6);
      position: absolute;
      top: -2px;
      left: -2px;
    }
  }
}

/* Hiding arrows in input with type="number"*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loader-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}

::ng-deep .mat-option.mat-selected {
  background: var(--status-color) !important;
  color: var(--white-color) !important;
}

::ng-deep .mat-option:hover:not(.mat-option-disabled) {
  background: rgba(46, 91, 255, .04)!important;
  color: var(--status-color) !important;
}

::ng-deep .mat-option.mat-active {
  background-color: transparent;
}
