<header>
  <section class="logo">
    <img src="assets/img/logos/logoipsum-black.svg" alt="Logoipsum logo">
  </section>

  <section class="searcher-and-profile">
    <section class="searcher-and-profile-container">
      <section class="searcher">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-icon matPrefix><img src="assets/img/icons/search.svg" alt="Search icon"></mat-icon>
          <input matInput placeholder="Find articles...">
        </mat-form-field>
      </section>
      <section class="profile">
        <div class="profile-photo"></div>
        <span class="profile-name">Annette Black</span>
        <mat-icon class="profile-dropdown">keyboard_arrow_down</mat-icon>
      </section>
    </section>
  </section>
</header>

<main>
  <aside>
    <p>Main Menu</p>
    <nav>
      <a routerLink="/portal/dashboard" routerLinkActive="active" #dashboard="routerLinkActive">
        <img *ngIf="dashboard.isActive" src="assets/img/icons/speedometer-active.svg" />
        <img *ngIf="!dashboard.isActive" src="assets/img/icons/speedometer-inactive.svg" />
        Dashboard
      </a>
    </nav>

    <div class="line"></div>

    <button mat-button><img src="assets/img/icons/logout.svg" alt="Logout">Logout</button>
  </aside>

  <section class="component-container">
    <router-outlet></router-outlet>
  </section>
</main>
