<header>
  <section class="logo">
    <img src="assets/img/logos/logoipsum-black.svg" alt="Logoipsum logo">
  </section>

  <section class="searcher-and-profile">
    <section class="searcher-and-profile-container">
      <section class="searcher">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-icon matPrefix><img src="assets/img/icons/search.svg" alt="Search icon"></mat-icon>
          <input matInput placeholder="Find articles...">
        </mat-form-field>
      </section>
      <section class="profile" *ngIf="user">
        <div class="profile-photo">
          <img *ngIf="user.photoUrl" [src]="user.photoUrl" alt="User avatar"/>
          <img *ngIf="!user.photoUrl" src="assets/img/unknown-user.png" alt="User avatar"/>
        </div>
        <span class="profile-name">{{user.name}} {{user.lastName}}</span>
        <button *ngIf="user.registrationType === 'firebase'" class="profile-dropdown" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <a routerLink="/portal/profile">Edit profile</a>
          </button>
        </mat-menu>
      </section>
    </section>
  </section>
</header>

<main>
  <aside>
    <p>Main Menu</p>
    <nav>
      <a routerLink="/portal/dashboard" routerLinkActive="active" #dashboard="routerLinkActive">
        <img *ngIf="dashboard.isActive" src="assets/img/icons/speedometer-active.svg" />
        <img *ngIf="!dashboard.isActive" src="assets/img/icons/speedometer-inactive.svg" />
        Dashboard
      </a>
    </nav>

    <div class="line"></div>

    <button mat-button (click)="logout($event)"><img src="assets/img/icons/logout.svg" alt="Logout">Logout</button>
  </aside>

  <section class="component-container">
    <router-outlet></router-outlet>
  </section>
</main>
